pydantic-settings
sqladmin
uvicorn
fastapi
starlette[full]
itsdangerous
python-multipart
asyncpg
SQLAlchemy
python-telegram-bot[job-queue]==20.8
ptbcontrib[roles] @ git+https://github.com/python-telegram-bot/ptbcontrib.git