Django==5.2.14
djangorestframework>=3.16.0
python-telegram-bot>=21.6
ptbcontrib @ git+https://github.com/python-telegram-bot/ptbcontrib.git
asyncpg
SQLAlchemy
pytest>=7.0.0
pytest-mock>=3.0.0
pytest-django>=4.5.0
psycopg2-binary>=2.9.3
gunicorn
django-grappelli
# ... и другие зависимости ...